%div
  .page-title
    .title_left
      %h3 Listing SMTP Settings
    .title_right
      .col-md-12.col-sm-12.col-xs-12.text-right
        = link_to new_smtp_setting_path do
          %button.btn.btn-primary New SMTP Settings
.clearfix
.x_panel
  %p Add SMTP settings to send campaign emails and reply users from dashboard.
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
      %th From email
      %th Reply to
      %th Provider
      %th Address
      %th Username
      %th Port
      %th Domain
      %th.text-center{width: '200px'} #
    %tbody
      - @smtp_settings.each do |smtp_setting|
        %tr
          %td= smtp_setting.from_email
          %td= smtp_setting.reply_to
          %td= smtp_setting.provider
          %td= smtp_setting.address
          %td= smtp_setting.username
          %td= smtp_setting.port
          %td= smtp_setting.domain
          %td.text-center
            = source_action_icons(smtp_setting, ['edit']).html_safe
            - if !smtp_setting.is_default_for_campaigns && !smtp_setting.is_default_for_reply
              = source_action_icons(smtp_setting, ['destroy']).html_safe
            %br
            - if smtp_setting.is_default_for_campaigns
              %span.label.label-default Default For Campaign Emails
            - else
              = link_to 'Set As Default For Campaign Emails', set_default_for_campaigns_smtp_setting_path(smtp_setting), method: :post, class: 'btn btn-xs btn-default'
            - if smtp_setting.is_default_for_reply
              %span.label.label-default Default For Reply Emails
            - else
              = link_to 'Set As Default For Reply Emails', set_default_for_reply_smtp_setting_path(smtp_setting), method: :post, class: 'btn btn-xs btn-default'

