%div
  .page-title
    .title_left
      %h3 Listing IMAP Settings
    .title_right
      .col-md-12.col-sm-12.col-xs-12.text-right
        = link_to new_imap_setting_path do
          %button.btn.btn-primary New IMAP Settings
.clearfix
.x_panel
  %p Add IMAP settings to read reply email.
  %table.table.table-striped.projects
    %thead
      %tr
      %th Address
      %th Port
      %th Email
      %th.text-center{width: '200px'} #
    %tbody
      - @imap_settings.each do |imap_setting|
        %tr
          %td= imap_setting.address
          %td= imap_setting.port
          %td= imap_setting.email
          %td
            = link_to 'Edit', edit_imap_setting_path(imap_setting), class: 'btn btn-xs btn-warning'
            = link_to 'Destroy', imap_setting, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-xs btn-danger'

