= search_form_for @q do |f|
  %table.table.table-condensed.table-bordered
    %tbody
      %tr
        %td
          %table.table.table-condensed.table-hover.table-bordered
            %tbody
              %tr
                %td= f.label :name_cont
                %td= f.search_field :name_cont, class: 'form-control'
              %tr
                %td= f.label :email_cont
                %td= f.search_field :email_cont, class: 'form-control'
              %tr
                %td= f.label :tags_name_cont
                %td= f.search_field :tags_name_cont, class: 'form-control'
              %tr
                %td= f.label :campaigns_name_eq
                %td= f.select :campaigns_id_eq, options_from_collection_for_select(current_account.campaigns, 'id', 'name', @q.campaigns_id_eq), { include_blank: true }, { class: 'form-control' }
              %tr
                %td= f.label :campaign_email_status_eq
                %td= f.select :campaign_users_status_eq, options_for_select(CampaignUser.statuses, @q.campaign_users_status_eq), { include_blank: true }, { class: 'form-control' }
              %tr
                %td= f.label 'Campaigns Tags Name contains'
                %td= f.search_field :campaigns_tags_name_cont, class: 'form-control'
              %tr
                %td
                  %b Filter Limit
                  %small (Maximum users count)
                %td= number_field_tag 'limit_count', params[:limit_count], class: 'form-control'
              %tr
                %td= f.label :created_at_greater_than
                %td= f.date_field :created_at_gt, class: 'form-control'
          %table.table.table-condensed.table-hover.table-bordered
            %tbody
              %tr
                %td= f.label 'User Tag Name Equal'
                %td
                  - @all_tags.each do |tag|
                    .tag-select{style: 'width: 16%;'}
                      = check_box_tag('q[tags_id_in][]', tag.id, (@q.tags_id_in.present? && @q.tags_id_in.include?(tag.id)) ? true : false )
                      = tag.name
              %tr
                %td= f.label 'User Campaign Tag Name Equal'
                %td
                  - @all_tags.each do |tag|
                    .tag-select{style: 'width: 16%;'}
                      = check_box_tag('q[campaigns_tags_id_in][]', tag.id, (@q.campaigns_tags_id_in.present? && @q.campaigns_tags_id_in.include?(tag.id)) ? true : false )
                      = tag.name
          Grouping Combinator:
          .btn= f.select :m, options_for_select(%w(and or).map{ |ps| [ps, ps] }, @q.m), include_blank: false

  = f.submit "Search", class: 'btn btn-info'
  = link_to 'Clear', users_path, class: 'btn btn-warning actions'
