.x_panel
  = form_tag users_path, method: :post, multipart: true do

    = label_tag 'Import Users From CSV File'
    = file_field_tag :file, class: 'form-control'

    = label_tag 'Tags'
    = select_tag :tags, options_for_select(@all_tags.map{ |t| [t, t] }), { include_blank: false, class: 'select2', multiple: true }
    .actions
      .col-md-6
        = submit_tag 'Import User List', class: 'btn btn-primary'
      .col-md-6.text-right
        = link_to 'Add Single User', new_user_path, class: 'btn btn-default'

.col-sm-12
  Example users csv
  %a{href: '/UserList1.csv'} list