= page_title 'Import Users From File'
= content_for :page_title_right do
  = link_to new_user_path do
    %button.btn.btn-primary
      %span.fa.fa-plus
      New User

.x_panel
  = form_tag users_path, method: :post, multipart: true do

    = label_tag 'File'
    = file_field_tag :file, class: 'form-control'

    = label_tag 'Tags'
    = select_tag :tags, options_for_select(@all_tags.map{ |t| [t, t] }), { include_blank: false, class: 'select2', multiple: true }
    .actions
      = submit_tag 'Import User List', class: 'btn btn-primary'

.col-sm-12
  Example users csv
  %a{href: '/UserList1.csv'} list