= render 'users/export_buttons'
= page_title 'Users'

= content_for :page_title_right do
  = link_to new_user_path do
    %button.btn.btn-primary
      %span.fa.fa-plus
      New User

.row
  .col-md-12
    .x_panel
      .x_content
        = render partial: 'shared/advanced_search', locals: { form_url: nil }

        = render 'create_campaign_buttons'

        = paginate @users

        %table.table.table-striped.table-bordered.table-hover
          %thead
            %tr
              %th{width: "200"} Email
              %th{width: "200"} Tags
              %th Name
              %th Campaigns
              %th Attributes
              %th{width: "100"}
          %tbody
            - @users.each do |user|
              %tr{id: "user-#{user.id}"}
                %td= user.email
                %td
                  %div{id: "UserTags-#{user.id}"}
                    = render partial: 'tags/item_tags', locals: { item: user }
                %td= user.name
                %td
                  - user.campaigns.each do |cp|
                    = link_to "##{cp.id},", campaign_path(cp), 'data-toggle': 'tooltip', 'data-placement': 'top', 'data-original-title': "#{cp.name}"
                %td
                  = render partial: 'user_attributes/index', locals: { user: user }
                %td
                  = link_to user_path(user), class: 'btn btn-danger btn-xs', method: :delete, remote: true, data: { confirm: 'Are you sure?' } do
                    %i.fa.fa-trash-o
                  = link_to user_path(user), class: 'btn btn-default btn-xs' do
                    %i.fa.fa-eye

        = paginate @users
