%p#notice= notice
.content-box-large
  .panel-heading
    .panel-title.col-md-6 Listing Users
    .panel-title.col-md-6.text-right
      -# = link_to 'Yeni Kullanıcı', new_admin_user_path, class: 'btn btn-success'
  .panel-body
    %table#example.table.table-striped.table-bordered{:border => "0", :cellpadding => "0", :cellspacing => "0"}
      %thead
        %tr
          %th Email
          %th Name
          %th Tags
          %th Campaigns
          %th.text-center #
      %tbody
        - @users.each do |user|
          %tr
            %td= user.email
            %td= user.name
            %td
              - user.tags.each do |tag|
                %span.badge{style: 'background-color: #337ab7'}
                  = tag
            %td
              - user.campaigns.each do |campaign|
                %label.label-info
                  = campaign.name
            %td
              = link_to 'Sil', user_path(user), class: 'btn btn-danger btn-sm', |
                method: :delete, data: { confirm: 'Are you sure?' }

    = paginate @users
