.col-md-12.content-box-large.panel-heading
  %h4 Add a user
  = form_tag create_single_users_path, id: 'single-user', method: :post do

    = label_tag 'Name (optional)'
    = text_field_tag :name, nil, { class: 'form-control' }

    = label_tag 'Email'
    = email_field_tag :email, nil, { class: 'form-control', required: true }

    = label_tag 'Tags'
    = select_tag :tags, options_for_select(@all_tags.map{ |t| [t, t] }), { include_blank: false, class: 'select2', multiple: true }
    .actions
      .col-md-6
        = submit_tag 'Add User', class: 'btn btn-primary'
      .col-md-6.text-right
        = link_to 'Import Users From a File', import_users_path, class: 'btn btn-default'
