= search_form_for @q, html: { method: :get }  do |f|

  = f.grouping_fields do |g|
    = render 'shared/grouping_fields', :f => g

  %p
    = link_to_add_fields "Add Search Grouping", f, :grouping

  .field.actions
    Limit:
    = number_field_tag 'limit_count', params[:limit_count]
  .field.actions
    Sort:
    = f.sort_fields do |s|
      = s.sort_select

  .actions
    = f.submit "Search", class: 'btn btn-primary'
