.field
  = f.attribute_fields do |a|
    = a.attribute_select associations: @associations
  = f.predicate_select

  = f.value_fields do |v|
    = render 'shared/value_fields', f: v

  = link_to_add_fields('Add Field', f, :value)
  = " - "
  = link_to "Remove Fields", '#', class: "remove_fields"
