.intro-header
  .container
    .row
      .col-lg-12
        .intro-message
          %h1 Smart Email Marketing
          %h4 A simple dockerized rails app to manage your emails and campaigns with taggings.
          %h4 You can find brief explanation as following or all features below.
          %hr.intro-divider/
          %ul.list-inline.intro-social-buttons
            %li
              %a.btn.btn-success.btn-lg{:href => new_account_session_path }
                %span.network-name Login
            -# %li
            -#   %a.btn.btn-info.btn-lg{:href => new_account_registration_path }
            -#     %span.network-name Sign Up
            %li
              %a.btn.btn-default.btn-lg{:href => 'https://github.com/svtek/smart-emailing', target: '_blank'}
                %i.fa.fa-github.fa-fw
                %span.network-name Github

.content-section-a
  .container
    .row
      .col-lg-5.col-sm-6
        %h3.section-heading About
        %p
          Using the app, you can easily add your users, tag and categorize them, set campaigns separately or combined while creating email templates. Then, you will be managing your campaigns with adding tags to every campaign-user records or whole campaign. Finally, you can get replied emails, categorized them or reply with template responses directly from inbox.
      .col-lg-5.col-lg-offset-2.col-sm-6
        -#%img.img-responsive{:alt => "", :src => "img/ipad.png"}/
        = image_tag 'users.png', class: 'img-responsive'

.content-section-b
  .container
    .row
      .col-lg-5.col-lg-offset-1.col-sm-push-6.col-sm-6
        %h3.section-heading CRM
        %ul
          %li Import users manually or from csv (any column name will become custom data)
          %li Add tags or custom data as key-value pairs to users
          %li Filter users with simple and advanced search using tags, previous campaign,campaign status, email open status etc.
          %li Create a campaign from filtered user results or add filtered users to an existing campaign.
      .col-lg-5.col-sm-pull-6.col-sm-6
        = image_tag 'filter.png', class: 'img-responsive'

.content-section-a
  .container
    .row
      .col-lg-5.col-sm-6
        %h3.section-heading Campaign Managment
        %ul
          %li Select an created email template
          %li Add tags to campaigns
          %li Send emails from any email provider to all campaign users
          %li Add tags to campaign-user (mutated record from the Campaign and User)
          %li Create a new campaign with filtering from the existing campaign
          %li Get email statistics if you choose sendgrid as a provider

      .col-lg-5.col-lg-offset-2.col-sm-6
        = image_tag 'campaigns.png', class: 'img-responsive'

.content-section-b
  .container
    .row
      .col-lg-5.col-lg-offset-1.col-sm-push-6.col-sm-6
        %h3.section-heading Inbox
        %ul
          %li Email inbox parsing and email matching for replied emails
          %li Add tags, and campaign-user tags directly from inbox
          %li Quick template responses directly from inbox

      .col-lg-5.col-sm-pull-6.col-sm-6
        = image_tag 'inbox.png', class: 'img-responsive'

.content-section-a
  .container
    .row
      .col-lg-5.col-sm-6
        %h3.section-heading Email Template
        %p Create email templates with writing any ruby code for using users custom data in the content
      .col-lg-5.col-lg-offset-2.col-sm-6
        -#%img.img-responsive{:alt => "", :src => "img/ipad.png"}/
        = image_tag 'template.png', class: 'img-responsive'
