.col-md-12.content-box-large.panel-heading
  / Nav tabs
  .card
    %ul.nav.nav-tabs{:role => "tablist"}
      %li.active{:role => "presentation"}
        %a{"aria-controls" => "home", "data-toggle" => "tab", :href => "#smtp", :role => "tab"} SMTP Settings
      %li{:role => "presentation"}
        %a{"aria-controls" => "profile", "data-toggle" => "tab", :href => "#reply", :role => "tab"} Reply Settings
      %li{:role => "presentation"}
        %a{"aria-controls" => "profile", "data-toggle" => "tab", :href => "#imap", :role => "tab"} IMAP Settings
    / Tab panes
    .tab-content
      #smtp.tab-pane.active{:role => "tabpanel"}
        %p Add your settings for sending campaign emails.

        = form_tag update_settings_path, method: :post do
          = label_tag 'Send emails from email:'
          = text_field_tag 'settings[from_email]', @settings.from_email, class: 'form-control', placeholder: 'example@yourdomain.com'

          %hr
          %h4.text-muted SMTP Settings

          = label_tag 'Set smtp provider:'
          = text_field_tag 'settings[provider]', @settings.provider, class: 'form-control', placeholder: 'sendgrid'
          %hr

          = label_tag 'smtp address'
          = text_field_tag 'settings[address]', @settings.address, class: 'form-control', placeholder: 'smtp.examplemailserver.com'

          = label_tag 'smtp port'
          = text_field_tag 'settings[port]', @settings.port, class: 'form-control', placeholder: '587'

          = label_tag 'Your verified domain'
          = text_field_tag 'settings[domain]', @settings.domain, class: 'form-control', placeholder: 'example.com'

          = label_tag 'username'
          = text_field_tag 'settings[user_name]', @settings.user_name, class: 'form-control', placeholder: 'username'

          = label_tag 'password'
          = password_field_tag 'settings[password]', @settings.password, class: 'form-control', placeholder: '*********'

          .actions
            = submit_tag 'Update Settings', class: 'btn btn-primary'

      #reply.tab-pane{:role => "tabpanel"}
        %p Add an email address the campaign users can reply to.
        = form_tag update_settings_path, method: :post do
          = label_tag 'Reply to email:'
          = text_field_tag 'settings[reply_to]', @settings.reply_to, class: 'form-control', placeholder: 'example@yourdomain.com'

          .actions
            = submit_tag 'Update Settings', class: 'btn btn-primary'

      #imap.tab-pane{:role => "tabpanel"}
        %p Add IMAP settings to read replied emails.
        = form_tag update_settings_path, method: :post do

          %hr
          %h4.text-muted IMAP Settings

          = label_tag 'imap address'
          = text_field_tag 'settings[imap_address]', @settings.imap_address, class: 'form-control', placeholder: 'outlook.office365.com'

          = label_tag 'imap port'
          = text_field_tag 'settings[imap_port]', @settings.imap_port, class: 'form-control', placeholder: '993'

          = label_tag 'IMAP email'
          = text_field_tag 'settings[imap_username]', @settings.imap_username, class: 'form-control', placeholder: 'example@yourdomain.com'

          = label_tag 'Reply to email password'
          = password_field_tag 'settings[imap_password]', @settings.imap_password, class: 'form-control', placeholder: '********'

          .actions
            = submit_tag 'Update Settings', class: 'btn btn-primary'
