.row
  .col-sm-12
    - item.tags.each do |tag|
      = link_to remove_tag_from_item_tags_path(item_id: item.id, item_type: item.class.name, name: tag.name), method: :post, remote: true, data: { confirm: 'Are you sure?' }, class: 'btn btn-info btn-xs' do
        = tag
        %span.fa.fa-trash
.row
  .col-sm-12
    = form_tag(add_tag_to_item_tags_path, remote: true) do
      -#= text_field_tag :name, nil, placeholder: "Type tag for #{item.class.name} and press Enter", class: 'form-control', style: 'height: 25px;width: 95%;'
      = hidden_field_tag :item_type, item.class.name
      = hidden_field_tag :item_id, item.id
      = hidden_field_tag :authenticity_token, form_authenticity_token
      = select_tag 'name', '', { class: 'tag-select form-control', style: 'height: 25px;width: 95%;', multiple: true, include_blank: true, onchange: "$(this).submit();", placeholder: "Type tag for #{item.class.name} and press Enter" }
