.row.tile_count
  .col-md-1
  .col-md-2.col-sm-4.col-xs-6.tile_stats_count
    %span.count_top
      %i.fa.fa-user
      Draft
    .count= @stats['draft'] || 0
    %span.count_bottom
      %i.green
        = "#{Campaign.calculate_percent(@stats['draft'], @total_users_count).to_i}  %"

  .col-md-2.col-sm-4.col-xs-6.tile_stats_count
    %span.count_top
      %i.fa.fa-user
      Processed
    .count.green= @stats['processed'] || 0
    %span.count_bottom
      %i.green
        = "#{Campaign.calculate_percent(@stats['processed'] , @total_users_count).to_i}  %"

  .col-md-2.col-sm-4.col-xs-6.tile_stats_count
    %span.count_top
      %i.fa.fa-user
      Dropped
    .count= @stats['dropped'] || 0
    %span.count_bottom
      %i.green
        = "#{Campaign.calculate_percent(@stats['dropped'] , @total_users_count).to_i} %"

  .col-md-2.col-sm-4.col-xs-6.tile_stats_count
    %span.count_top
      %i.fa.fa-user
      Delivered
    .count= @stats['delivered'] || 0
    %span.count_bottom
      %i.green
        = "#{Campaign.calculate_percent(@stats['delivered'] , @total_users_count).to_i} %"

  .col-md-2.col-sm-4.col-xs-6.tile_stats_count
    %span.count_top
      %i.fa.fa-user
      Deferred
    .count= @stats['deferred'] || 0
    %span.count_bottom
      %i.green
        = "#{Campaign.calculate_percent(@stats['deferred'] , @total_users_count).to_i} %"

.row.tile_count
  .col-md-1
  .col-md-2.col-sm-4.col-xs-6.tile_stats_count
    %span.count_top
      %i.fa.fa-user
      Bounced
    .count= @stats['bounce'] || 0
    %span.count_bottom
      %i.green
        = "#{Campaign.calculate_percent(@stats['bounce'], @total_users_count).to_i}  %"

  .col-md-2.col-sm-4.col-xs-6.tile_stats_count
    %span.count_top
      %i.fa.fa-user
      Opened
    .count.green= @stats['open'] || 0
    %span.count_bottom
      %i.green
        = "#{Campaign.calculate_percent(@stats['open'] , @total_users_count).to_i}  %"

  .col-md-2.col-sm-4.col-xs-6.tile_stats_count
    %span.count_top
      %i.fa.fa-user
      Clicked
    .count= @stats['click'] || 0
    %span.count_bottom
      %i.green
        = "#{Campaign.calculate_percent(@stats['click'] , @total_users_count).to_i} %"

  .col-md-2.col-sm-4.col-xs-6.tile_stats_count
    %span.count_top
      %i.fa.fa-user
      Spamreport
    .count= @stats['spamreport'] || 0
    %span.count_bottom
      %i.green
        = "#{Campaign.calculate_percent(@stats['spamreport'] , @total_users_count).to_i} %"

  .col-md-2.col-sm-4.col-xs-6.tile_stats_count
    %span.count_top
      %i.fa.fa-user
      Unsubscribed
    .count= @stats['unsubscribe'] || 0
    %span.count_bottom
      %i.green
        = "#{Campaign.calculate_percent(@stats['unsubscribe'] , @total_users_count).to_i} %"
  .col-md-1
