.panel-heading
  .container
    .row
      .col-lg-2.col-sm-6
        .circle-tile
          .circle-tile-heading.dark-blue
            %h1
              %i.glyphicon.glyphicon-envelope
          .circle-tile-content.dark-blue
            .circle-tile-description.text-faded Draft
            .circle-tile-number.text-faded= "% #{@campaign.draft_precent}"
      .col-lg-2.col-sm-6
        .circle-tile
          .circle-tile-heading.gray
            %h1
              %i.glyphicon.glyphicon-envelope
          .circle-tile-content.gray
            .circle-tile-description.text-faded Processed
            .circle-tile-number.text-faded= "% #{@campaign.processed_precent}"
      .col-lg-2.col-sm-6
        .circle-tile
          .circle-tile-heading.red
            %h1
              %i.glyphicon.glyphicon-envelope
          .circle-tile-content.red
            .circle-tile-description.text-faded Dropped
            .circle-tile-number.text-faded= "% #{@campaign.processed_precent}"
      .col-lg-2.col-sm-6
        .circle-tile
          .circle-tile-heading.green
            %h1
              %i.glyphicon.glyphicon-envelope
          .circle-tile-content.green
            .circle-tile-description.text-faded Delivered
            .circle-tile-number.text-faded= "% #{@campaign.delivered_precent}"
      .col-lg-2.col-sm-6
        .circle-tile
          .circle-tile-heading.orange
            %h1
              %i.glyphicon.glyphicon-envelope
          .circle-tile-content.orange
            .circle-tile-description.text-faded Deferred
            .circle-tile-number.text-faded= "% #{@campaign.deferred_precent}"

    .row
      .col-lg-2.col-sm-6
        .circle-tile
          .circle-tile-heading.dark-gray
            %h1
              %i.glyphicon.glyphicon-envelope
          .circle-tile-content.dark-gray
            .circle-tile-description.text-faded Bounce
            .circle-tile-number.text-faded= "% #{@campaign.bounce_precent}"
      .col-lg-2.col-sm-6
        .circle-tile
          .circle-tile-heading.blue
            %h1
              %i.glyphicon.glyphicon-envelope
          .circle-tile-content.blue
            .circle-tile-description.text-faded Open
            .circle-tile-number.text-faded= "% #{@campaign.open_precent}"
      .col-lg-2.col-sm-6
        .circle-tile
          .circle-tile-heading.yellow
            %h1
              %i.glyphicon.glyphicon-envelope
          .circle-tile-content.yellow
            .circle-tile-description.text-faded Click
            .circle-tile-number.text-faded= "% #{@campaign.click_precent}"
      .col-lg-2.col-sm-6
        .circle-tile
          .circle-tile-heading.purple
            %h1
              %i.glyphicon.glyphicon-envelope
          .circle-tile-content.purple
            .circle-tile-description.text-faded Spam
            .circle-tile-number.text-faded= "% #{@campaign.spamreport_precent}"
      .col-lg-2.col-sm-6
        .circle-tile
          .circle-tile-heading.light-gray
            %h1
              %i.glyphicon.glyphicon-envelope
          .circle-tile-content.light-gray
            .circle-tile-description.text-faded Unsubscribe
            .circle-tile-number.text-faded= "% #{@campaign.unsubscribe_precent}"
