= form_tag send_emails_campaign_path(@campaign), method: :post do
  - if @campaign.email_template.present?
    .col-md-12
      %b
        = @campaign.email_template.subject
    .col-md-12
      %hr
        = @campaign.email_template.body.try(:html_safe)
      %hr
  - else
    = label_tag 'Mail Subject'
    = text_field_tag 'subject', nil, class: 'form-control'


    %br
    %b Paste your html mail content.
    %a{ href: 'https://htmlg.com/html-editor/', target: '_blank' } Example html editor.
    = text_area_tag 'content', nil, class: 'form-control', rows: 8

    %p.text-muted
      To put each user name in the emails use: [*NAME*] keyword instead of name. Dear [*NAME*], etc...

  .actions
    = submit_tag 'Send Campaign Emails', class: 'btn btn-primary'
