- body = Tilt::ERBTemplate.new { "#{@campaign.email_template.body}" }
- subject = Tilt::ERBTemplate.new { "#{@campaign.email_template.subject}" }

%h2.text-center
  = subject.render(User.first).html_safe
= body.render(User.first).html_safe

%hr
= form_tag send_emails_campaign_path(@campaign), method: :post do
  .actions.text-center
    = submit_tag 'Send Campaign Emails', class: 'btn btn-primary'
