- body = Tilt::ERBTemplate.new { "#{@campaign.email_template.body}" }
- subject = Tilt::ERBTemplate.new { "#{@campaign.email_template.subject}" }

.yui3-cssreset
  = subject.render(User.first).html_safe
  = body.render(User.first).html_safe

= form_tag send_emails_campaign_path(@campaign), method: :post do
  .actions
    = submit_tag 'Send Campaign Emails', class: 'btn btn-primary'
