= page_title 'Campaigns'

.x_panel
  .x_content
    = render partial: 'shared/advanced_search', locals: { form_url: nil }
    %hr/

    %table.table.table-striped.table-bordered.table-hover
      %thead
        %tr
          %th Name
          %th Tags
          %th Users Count
          %th Sent Emails
          %th Template
          %th{width: 80} #
      %tbody
        - @campaigns.each do |campaign|
          %tr
            %td= campaign.name
            %td
              - campaign.tags.each do |tag|
                %span.btn.btn-info.btn-xs
                  = tag
            %td= campaign.users.count
            %td= campaign.campaign_users.where.not(status: 'draft').count
            %td
              = link_to "##{campaign.email_template.id}", email_template_path(campaign.email_template), 'data-toggle': 'tooltip', 'data-placement': 'top', 'data-original-title': "#{campaign.email_template.subject}"
            %td
              = link_to  campaign, class: 'btn btn-sm btn-default  btn-xs' do
                %fa.fa.fa-eye
              = link_to campaign, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-sm btn-danger btn-xs' do
                %fa.fa.fa-trash
