%div
  .page-title
    .title_left
      %h3 Listing Campaigns

  .clearfix
  .row
    .col-md-12
      .x_panel
        .x_title
          %h2 Filter Campaigns
          %ul.nav.navbar-right.panel_toolbox
            %li
              %a.collapse-link.pull-right
                %i.fa.fa-chevron-up
          .clearfix
        .x_content
          = render partial: 'shared/advanced_search', locals: { form_url: nil }

  .row
    .col-md-12
      .x_panel
        .x_title
          %h2 Campaigns List
          .clearfix
        .x_content
          %table.table.table-striped.projects
            %thead
              %tr
                %th Name
                %th Tags
                %th Users Count
                %th Sent Emails
                %th Template
                %th #
            %tbody
              - @campaigns.each do |campaign|
                %tr
                  %td= campaign.name
                  %td
                    - campaign.tags.each do |tag|
                      %span.btn.btn-info.btn-xs
                        = tag
                  %td= campaign.users.count
                  %td= CampaignUser.where.not(status: 'draft').count
                  %td
                    = link_to "##{campaign.email_template.id}", email_template_path(campaign.email_template), 'data-toggle': 'tooltip', 'data-placement': 'top', 'data-original-title': "#{campaign.email_template.subject}"
                  %td
                    = link_to 'Show', campaign, class: 'btn btn-sm btn-default'
                    = link_to 'Destroy', campaign, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-sm btn-danger'

