= page_title "New campaign"

.x_panel
  = form_for @campaign do |f|
    = render partial: 'shared/form_error_explanation', locals: { source: @campaign }

    = f.label :name
    = f.text_field :name, class: 'form-control'

    %label
      Tag List
    = select_tag :tags, options_for_select(@all_tags.map{ |t| [t, t] }), { include_blank: false, class: 'select2 form-control', multiple: true }

    .form-control{style: 'margin-top: 2%;'}
      = f.label :email_template
      = f.select 'email_template_id', options_from_collection_for_select(current_account.email_templates, 'id', 'subject')
      or
      = link_to 'create new template.', new_email_template_path, target: '_blank'

    = hidden_field_tag 'q', params[:q]
    = hidden_field_tag 'limit', params[:limit]
    = hidden_field_tag 'query_from', (params[:query_from] || 'users')
    = hidden_field_tag 'campaign_id', params[:campaign_id]

    .actions
      = f.submit 'Save', class: 'btn btn-primary'