.x_panel
  .x_title
    %h3
      #{@campaign.name}
    .clearfix
  .col-md-4
    %p Campaign Tags:
    %div{id: "CampaignTags-#{@campaign.id}"}
      = render partial: 'tags/item_tags', locals: { item: @campaign }

.x_panel
  = render 'template_form'

.x_panel
  .x_title
    %h3 Campaign Statistics
    %small Add Sendgrid settings to get more detaily statistics.
  = render 'stats'

.x_panel
  = pie_chart @stats

.x_panel
  .x_title
    %h2 Filter Users
    %ul.nav.navbar-right.panel_toolbox
      %li
        %a.collapse-link.pull-right
          %i.fa.fa-chevron-up
    .clearfix
  .x_content
    %p Filter users to create new campaign from the existing campaign.
    = render partial: 'shared/advanced_search', locals: { form_url: "/campaigns/#{@campaign.id}" }
    .col-sm-6
      = paginate @campaign_users
  .clearfix

.x_panel
  = link_to 'Create New Campaign For Filtered Users', new_campaign_path({ q: (params[:q].presence || 'all'),
      limit: params[:limit_count], query_from: 'campaign', campaign_id: @campaign.id }),
      class: 'btn btn-success pull-right', style: 'margin-top: 1%'
  .x_content
    %table.table.table-striped.projects
      %thead
        %tr
          %th Email
          %th Name
          %th Email Status
          %th Tags
      %tbody
        - @campaign_users.each do |camp_user|
          - if camp_user.user.present?
            %tr
              %td= camp_user.user.email
              %td= camp_user.user.name
              %td= camp_user.status
              %td
                %div{id: "CampaignUserTags-#{camp_user.id}"}
                  = render partial: 'tags/item_tags', locals: { item: camp_user }
