%h3
  #{@campaign.name}
%div{id: "CampaignTags-#{@campaign.id}"}
  = render partial: 'tags/item_tags', locals: { item: @campaign }

.col-md-12.content-box-large.panel-heading

  = render 'template_form'

= render 'stats'

.col-md-12.content-box-large.panel-heading
  .col-md-12
    = paginate @campaign_users
    %table#example.table.table-striped.table-bordered{:border => "0", :cellpadding => "0", :cellspacing => "0"}
      %thead
        %tr
          %th Email
          %th Name
          %th Email Status
          %th Tags
      %tbody
        - @campaign_users.each do |camp_user|
          - if camp_user.user.present?
            %tr
              %td= camp_user.user.email
              %td= camp_user.user.name
              %td= camp_user.status
              %td
                %div{id: "CampaignUserTags-#{camp_user.id}"}
                  = render partial: 'tags/item_tags', locals: { item: camp_user }

    = pie_chart @stats

  = link_to 'Back', campaigns_path
