%h3
  #{@campaign.name}
%div{id: "CampaignTags-#{@campaign.id}"}
  = render partial: 'tags/item_tags', locals: { item: @campaign }

.col-md-12.content-box-large.panel-heading

  = render 'template_form'

= render 'stats'

= pie_chart @stats

.col-md-12.content-box-large.panel-heading
  .col-md-12
    .content-box-large
  .panel-heading
    .panel-body.search-panel
      .portlet-title{'data-toggle': 'collapse', 'data-target': '#search-body'}
        %h4
          Campaign User Search
      .portlet-body
        = render partial: 'shared/advanced_search', locals: { form_url: "/campaigns/#{@campaign.id}" }
    .col-sm-6
      = paginate @campaign_users
    .col-sm-6.text-right
      = link_to 'Create New Campaign For Filtered Users', new_campaign_path({ q: (params[:q].presence || 'all'),
      limit: params[:limit_count], query_from: 'campaign', campaign_id: @campaign.id }),
      class: 'btn btn-success', style: 'margin-top: 1%'

    %table#example.table.table-striped.table-bordered{:border => "0", :cellpadding => "0", :cellspacing => "0"}
      %thead
        %tr
          %th Email
          %th Name
          %th Email Status
          %th Tags
      %tbody
        - @campaign_users.each do |camp_user|
          - if camp_user.user.present?
            %tr
              %td= camp_user.user.email
              %td= camp_user.user.name
              %td= camp_user.status
              %td
                %div{id: "CampaignUserTags-#{camp_user.id}"}
                  = render partial: 'tags/item_tags', locals: { item: camp_user }

  = link_to 'Back', campaigns_path
