.col-md-12.content-box-large.panel-heading
  = form_for @email_template do |f|
    = render partial: 'shared/form_error_explanation', locals: { source: @email_template }

    = f.label 'Mail Subject'
    = f.text_field :subject, class: 'form-control'

    %br
    %b Paste your html mail content.
    %a{ href: 'https://htmlg.com/html-editor/', target: '_blank' } Example html editor.
    = f.text_area :body, class: 'form-control', rows: 28

    %p.text-muted
      To put each user name in the emails use: <%= self.try(:name) %> keyword instead of name or for any user custom data (<%= self.try(:phone) %>, <%= self.try(:city) %> etc...). You can use ruby codes here.

    .actions
      = f.submit 'Submit', class: 'btn btn-primary'
