.col-md-12.content-box-large.panel-heading
  = form_for @email_template do |f|
    - if @email_template.errors.any?
      #error_explanation
        %h2= "#{pluralize(@email_template.errors.count, "error")} prohibited this email_template from being saved:"
        %ul
          - @email_template.errors.full_messages.each do |msg|
            %li= msg


    = f.label 'Mail Subject'
    = f.text_field :subject, class: 'form-control'

    %br
    %b Paste your html mail content.
    %a{ href: 'https://htmlg.com/html-editor/', target: '_blank' } Example html editor.
    = f.text_area :body, class: 'form-control', rows: 8

    %p.text-muted
      To put each user name in the emails use: [*NAME*] keyword instead of name. Dear [*NAME*], etc...

    .actions
      = f.submit 'Submit', class: 'btn btn-primary'
