.col-md-8
  %h2 Listing Email Templates
.col-md-4.text-right
  = link_to 'New Email template', new_email_template_path, class: 'btn btn-success'
%table#example.table.table-striped.table-bordered{:border => "0", :cellpadding => "0", :cellspacing => "0"}
  %thead
    %tr
      %th Subject
      %th Body
      %th Campaigns
      %th.text-center #
      %th.text-center #
  %tbody
    - @email_templates.each do |template|
      %tr
        %td= template.subject
        %td= simple_format(template.body)
        %td
          - template.campaigns.each do |campaign|
            %label.label-info
              = campaign.name
          %td= link_to 'Edit', edit_email_template_path(template), class: 'btn btn-sm btn-warning'
          %td= link_to 'Destroy', template, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-sm btn-danger'
