= page_title "Email Templates"

- content_for :page_title_right do
  = link_to new_email_template_path do
    %button.btn.btn-primary
      %fa.fa.fa-plus
      New Email Template


.x_panel
  .x_title
    %h4 Email Templates
  .x_content
    %table.table.table-striped.table-bordered.table-hover
      %thead
        %tr
          %th Subject
          %th Campaigns
          %th{width: '100'} #
      %tbody
        - @email_templates.each do |template|
          %tr
            %td= template.subject
            %td
              - template.campaigns.each do |campaign|
                = link_to campaign.name, campaign_path(campaign), class: ''
                ,

            %td
              = link_to edit_email_template_path(template), class: 'btn btn-sm btn-default btn-xs' do
                %fa.fa.fa-pencil
              = link_to template, class: 'btn btn-sm btn-default btn-xs' do
                %fa.fa.fa-eye
              = link_to template, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-sm btn-danger btn-xs' do
                %fa.fa.fa-trash