- body = Tilt::ERBTemplate.new { "#{@email_template.body}" }
- subject = Tilt::ERBTemplate.new { "#{@email_template.subject}" }

- # TODO css reset not working
.yui3-cssreset
  = subject.render(User.first).html_safe
  = body.render(User.first).html_safe

%hr/

= link_to 'Edit', edit_email_template_path(@email_template)
\|
= link_to 'Back', email_templates_path
