!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title EmailMarketing
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
  %body
    .header
      .container
        .row
          .col-md-5
            / Logo
            .logo
              %h1= link_to 'Smart Email Marketing', root_path
          .col-md-5
          .col-md-2
            .navbar.navbar-inverse{:role => "banner"}
              %nav.collapse.navbar-collapse.bs-navbar-collapse.navbar-right{:role => "navigation"}
                %ul.nav.navbar-nav
                  %li.dropdown
                    %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                      My Account
                      %b.caret
                    %ul.dropdown-menu.animated.fadeInUp
                      %li
                        %a{:href => "profile.html"} Profile
                      %li
                        %a{:href => "login.html"} Logout
    .page-content
      .row
        .col-md-2
          .sidebar.content-box{:style => "display: block;"}
            %ul.nav
              / Main menu
              %li.current
                %a{:href => root_path}
                  %i.glyphicon.glyphicon-home
                  Dashboard
              %li.current
                %a{:href => root_path}
                  %i.glyphicon.glyphicon-th-list
                  Kullanıcılar
              %li.current
                %a{:href => root_path}
                  %i.glyphicon.glyphicon-star-empty
                  Üyelik Tipleri
              %li.current
                %a{:href => root_path}
                  %i.glyphicon.glyphicon-heart
                  Tahminler
              %li.current
                %a{:href => root_path}
                  %i.glyphicon.glyphicon-play-circle
                  Slider
        .col-md-10
          = yield
  %footer
    .container
      .copy.text-center
        Copyright 2014
        %a{:href => "#"} Website
