!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title Email Marketing
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': true

    %link{rel: 'stylesheet', type: 'text/css', href: '/template/css/custom.min.css'}
    %link{href: "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel: "stylesheet", integrity: "sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin: "anonymous"}

    / Custom Theme Style
  - if current_account
    %body.nav-md
      .container.body
        .main_container
          .col-md-3.left_col.menu_fixed
            .left_col.scroll-view
              .navbar.nav_title{:style => "border: 0;"}
                %a.site_title{:href => root_path}
                  %i.fa.fa-envelope-open
                  %span Smart Email Marketing
              .clearfix
              / sidebar menu
              #sidebar-menu.main_menu_side.hidden-print.main_menu
                .menu_section
                  %ul.nav.side-menu
                    %li
                      %a
                        %i.fa.fa-users
                        Users
                        %span.fa.fa-chevron-down
                      %ul.nav.child_menu
                        %li
                          %a{:href => users_path } List
                        %li
                          %a{:href => detailed_list_users_path } Detailed List
                        %li
                          %a{:href => new_user_path } Add
                        %li
                          %a{:href => import_users_path} Import

                    %li
                      %a{:href => inbox_index_path}
                        %i.fa.fa-inbox
                        Inbox
                    %li
                      %a{:href => campaigns_path}
                        %i.fa.fa-paper-plane-o
                        Campaigns
                    %li
                      %a{:href => email_templates_path}
                        %i.fa.fa-star-half-o
                        Templates
                    %li
                      %a{:href => tags_path, :style => 'font-size: 12px;'}
                        %i.fa.fa-tags
                        Tag Managment
                    %li
                      %a
                        %i.fa.fa-cog
                        Settings
                        %span.fa.fa-chevron-down
                      %ul.nav.child_menu
                        %li
                          %a{:href => smtp_settings_path } SMTP Settings
                        %li
                          %a{:href => imap_settings_path } IMAP Settings
                    %li
                      %a{:href => notes_path }
                        %i.fa.fa-file-text-o
                        Notes
                    %li
                      %a{:href => '/sidekiq', :target => '_blank'}
                        %i.fa.fa-bar-chart
                        Sidekiq
                    %li
                      %a{:href => 'https://github.com/svtek/smart-emailing', :target => '_blank'}
                        %img{:alt => "Known Vulnerabilities", :src => "https://img.shields.io/github/release/svtek/smart-emailing.svg", :style => "max-width:100%;"}/

          / top navigation
          .top_nav
            .nav_menu
              %nav
                .nav.toggle
                  %a#menu_toggle
                    %i.fa.fa-bars

                %ul.nav.navbar-nav.navbar-right
                  %li
                    %a.user-profile.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "javascript:;"}
                      = current_account.email
                      %span.fa.fa-angle-down
                    %ul.dropdown-menu.dropdown-usermenu.pull-right
                      -# %li
                      -#   = link_to 'Account Settings', edit_account_registration_path
                      %li
                        = link_to(destroy_account_session_path, :method => :delete) do
                          %i.fa.fa-sign-out.pull-right
                          Log Out


        /Page Content
        .right_col{:role => "main"}
          - if flash.now[:notice]
            .row
              .col-md-12
                .alert.alert-info
                  %p#notice= flash.now[:notice]

          .page-title
            .title_left
              %h1= yield :page_title
            .title_right
              .col-md-12.col-sm-12.col-xs-12.text-right
                = yield :page_title_right

          = yield

  - else
    %body.login
      = yield

  %script{src: '/template/js/custom.min.js'}
