!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title EmailMarketing
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': false
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
  %body
    .header
      .container
        .row
          .col-md-5
            / Logo
            .logo
              %h1= link_to 'Smart Email Marketing', root_path

          - if current_account
            .col-md-5
            .col-md-2
              .navbar.navbar-inverse{:role => "banner"}
                %nav.collapse.navbar-collapse.bs-navbar-collapse.navbar-right{:role => "navigation"}
                  %ul.nav.navbar-nav
                    %li.dropdown
                      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                        My Account
                        %b.caret
                      %ul.dropdown-menu.animated.fadeInUp
                        %li
                          = link_to 'Account Settings', edit_account_registration_path
                        %li
                          = link_to('Logout', destroy_account_session_path, :method => :delete)
          - else
            .col-md-3
            .col-md-4.text-right{style: 'margin-top: 5px;'}
              = link_to('Login', new_account_session_path, class: 'btn col-md-6 text-right')
              = link_to 'Register', new_account_registration_path, class: 'btn btn-primary col-md-6 text-right'

      .page-content
        .row
          .col-md-2
            - if current_account
              .sidebar.content-box{:style => "display: block;"}
                %ul.nav
                  / Main menu
                  %li.current
                    %a{:href => users_path}
                      %i.glyphicon.glyphicon-user
                      Users
                  %li.current
                    %a{:href => import_users_path}
                      %i.glyphicon.glyphicon-th-list
                      Import Users
                  %li.current
                    %a{:href => campaigns_path}
                      %i.glyphicon.glyphicon-star-empty
                      Campaigns
                  %li.current
                    %a{:href => email_templates_path}
                      %i.glyphicon.glyphicon-heart
                      Templates
                  %li.current
                    %a{:href => tags_path, :style => 'font-size: 12px;'}
                      %i.glyphicon.glyphicon-tags
                      Tag Managment
                  %li.current
                    %a{:href => settings_path}
                      %i.glyphicon.glyphicon-cog
                      Settings
                  %li.current
                    %a{:href => '/sidekiq', :target => '_blank'}
                      %i.glyphicon.glyphicon-random
                      Sidekiq

          .col-md-10
            - if notice
              .alert.alert-warning
                %p#notice= notice

            = yield
